# Virtual environment
python_modules/

# Development database files
*.sqlite3

# Compiled python files
*.pyc

# Installer logs
pip-log.txt

# IDE or editors files
*.sublime-project
*.sublime-workspace
.project
.pydevproject
